.calendar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  font-size: 1.5em;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-week {
  display: contents;
}

.calendar-week div {
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 1.25em;
  min-height: 100px;
}
.description{
  font-size: 10px;
  text-transform: capitalize;
}
.bg-final{
  background-color: rgba(0, 171, 250, 0.986)!important;
  color: white;
}
.mes{
  font-weight: 900;
}
.bg-green{
  background-color: rgb(9, 163, 42);
  color:rgb(255, 255, 255);

  
}
.bg-azul{
  background-color: rgb(25, 72, 160);
  color:rgb(255, 255, 255);
;
}
.event-title {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  display: inline-block;
  max-width: 100%;
}