<app-breadcrumb [rutas]="rutas" [titulo]="'Ejecución de Gastos'"></app-breadcrumb>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-auto col-md-auto col-sm-auto"></div>
                </div>
                <div class="row pt-2">
                    <div class="col-xl-12">
                        <app-loading [mostrar]="loading">
                            <div class="card">
                                <div class="card-header">
                                  ACTIVIDAD OPERATIVA
                                </div>
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-xl-5">
                                            <select name="" class="form-select form-select-sm" id=""></select>
                                        </div>
                                    
                                    </div>
                                    <table class=" table-borderless">
                                        <tbody>
                                            <tr>
                                                <td><b>NRO Registro POI</b></td>
                                                <td>:Lorrcitationemore quas ducimus fugiat esse? Porro, tenetur veniam!</td>
                                            </tr>
                                            <tr>
                                                <td><b>Objetivo Estrategico</b></td> 
                                                <td>:ejemplo</td>
                                            </tr>
                                            <tr>
                                                <td><b>Acción Estrategica</b></td> 
                                                <td>:ejemplo</td>
                                            </tr>
                                        </tbody>
                                      
                                    </table>
                                    <!-- comienzo seccion 2 -->
                                    <div class="row">
                                        <div class="col-xl-7">
                                            <table class=" table-borderless">
                                                <tbody>
                                                    <tr>
                                                        <td><b>Actividad presupuestal</b></td>
                                                        <td>:Lorem ipsum dllam labore quas ducimus fugiat esse? Porro, tenetur veniam!</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Actividad Operativa</b></td> 
                                                        <td>:ejemplo</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Unidad Medida</b></td> 
                                                        <td>:ejemplo</td>
                                                    </tr>
                                                   
                                                </tbody>
                                              
                                            </table>
                                        </div>
                                        <div class="col-xl-5">
                                       
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="input-group input-group-sm ">
                                                        <div class="input-group-text alin bg-final">
                                                            PIA
                                                        </div>
                                                        <input type="text" class="form-control form-control-sm"
                                                            aria-label="Small"
                                                            aria-describedby="inputGroup-sizing-sm"  >
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="input-group input-group-sm ">
                                                        <div class="input-group-text alin bg-final">
                                                            Devengado
                                                        </div>
                                                        <input type="text" class="form-control form-control-sm"
                                                            aria-label="Small"
                                                            aria-describedby="inputGroup-sizing-sm"  >
                                                    </div>
                                                </div>                                                                                                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="input-group input-group-sm ">
                                                        <div class="input-group-text alin bg-final">
                                                            POI(Meta)
                                                        </div>
                                                        <input type="text" class="form-control form-control-sm"
                                                            aria-label="Small"
                                                            aria-describedby="inputGroup-sizing-sm"  >
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="input-group input-group-sm ">
                                                        <div class="input-group-text alin bg-final">
                                                            POI(Seguimiento)
                                                        </div>
                                                        <input type="text" class="form-control form-control-sm"
                                                            aria-label="Small"
                                                            aria-describedby="inputGroup-sizing-sm"  >
                                                    </div>
                                                </div>                                                                                                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="input-group input-group-sm ">
                                                        <div class="input-group-text alin bg-final">
                                                            N° A.O
                                                        </div>
                                                        <input type="text" class="form-control form-control-sm"
                                                            aria-label="Small"
                                                            aria-describedby="inputGroup-sizing-sm"  >
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="input-group input-group-sm ">
                                                        <div class="input-group-text alin bg-final">
                                                            N° C.C
                                                        </div>
                                                        <input type="text" class="form-control form-control-sm"
                                                            aria-label="Small"
                                                            aria-describedby="inputGroup-sizing-sm"  >
                                                    </div>
                                                </div>                                                                                                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="input-group input-group-sm ">
                                                        <div class="input-group-text alin bg-final">
                                                             A.O Meta
                                                        </div>
                                                        <input type="text" class="form-control form-control-sm"
                                                            aria-label="Small"
                                                            aria-describedby="inputGroup-sizing-sm"  >
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="input-group input-group-sm ">
                                                        <div class="input-group-text alin bg-final">
                                                            A.O Seguimiento
                                                        </div>
                                                        <input type="text" class="form-control form-control-sm"
                                                            aria-label="Small"
                                                            aria-describedby="inputGroup-sizing-sm"  >
                                                    </div>
                                                </div>                                                                                                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- fin seccion 2 -->
                                    <!-- comienzo seccion de actividades -->
                                   
                                    <div class="row mt-4 w-100 d-flex justify-content-around">
                                        <div class="col-xl-2 modul pb-4">
                                            <p>Programación</p>
                                            <table>
                                                <thead>
                                                    <tr>
                                                       <td>Periodo</td>
                                                       <td>Fisico</td>
                                                       <td>Financiero</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>01</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>02</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>03</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>04</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>05</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>06</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>07</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>08</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>09</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>11</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xl-2 modul p-1">
                                            <p>Reprogramación</p>
                                            <table>
                                                <thead>
                                                    <tr>
                                                       <td>Periodo</td>
                                                       <td>Fisico</td>
                                                       <td>Financiero</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>01</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>02</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>03</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>04</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>05</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>06</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>07</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>08</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>09</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>11</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xl-6 modul">
                                            <p>Seguimiento POI</p>
                                            <table>
                                                <thead>
                                                    <tr>
                                                       <td style="width:10% ;">Periodo</td>
                                                       <td style="width:10% ;">Fisico</td>
                                                       <td style="width:15%;">Financiero</td>
                                                       <td style="width:65% ;">Motivo</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>01</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>02</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>03</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>04</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>05</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>06</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>07</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>08</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>09</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>11</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                        <td><input type="text" class="form-control form-control-sm" name="" id=""></td>
                                                    </tr>
                                                </tbody>
                                            </table> 
                                        </div>
                                        <div class="row justify-content-end ">
                                            <div class="col-xl-2 d-flex mt-3 ">
                                                <button class="btn btn-primary btn-sm w-100">Grabar</button>
                                            </div>
                               
                                        </div>
                                    </div>
                                   
                                </div>
                              </div>
                        </app-loading>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>