tr td{
    font-size: 12px;


}
table{
    border-collapse: separate;
    border-spacing: 5px;

}

.modul{
    background-color: rgb(13, 112, 211);
    color: white;
    border-radius: 10px;

}
p{
    text-align: center;
    margin-top: 5px;
}
.alin{
    width: 115px;
}
.modul td{
    text-align: center;
}
.progreso{
    background-color: coral;
    color: white;
    border-radius: 9px ;
}

input{
    text-align: center;
}

.regs{
    background-color: #00c9b7;
    color: white;
}
.report{
    background-color:#8190bb ;
    color: white;
}
.input-activo{
    border: 3px solid #002374;
}