tr td{
    font-size: 12px;


}
table{
    border-collapse: separate;
    border-spacing: 7px;
}
.modul{
    background-color: #8d91a0;
    color: white;
    border-radius: 10px;
    margin-left:10px ;
}
p{
    text-align: center;
    margin-top: 5px;
}
.alin{
    width: 115px;
}
.modul td{
    text-align: center;
}