<app-breadcrumb [rutas]="rutas" [titulo]="'Ejecución de Gastos'"></app-breadcrumb>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-auto col-md-auto col-sm-auto"></div>
                </div>
                <div class="row pt-2">
                    <div class="col-xl-12">
                        <app-loading [mostrar]="loading">
                            <div class="row">
                                <div class="col-5">
                                    <label for="exampleFormControlInput1" class="form-label">Fecha de Reporte</label>
                                    <input type="date" class="form-control form-control-sm" [(ngModel)]="fecha"
                                        id="exampleFormControlInput1" />
                                </div>
                                <div class="col-5">
                                    <label for="exampleFormControlInpu" class="form-label">Archivo</label>
                                    <input type="file" class="form-control form-control-sm" (change)="onFileSelected($event)"
                                        id="exampleFormControlInpu" />
                                </div>
                                <div class="col-2">
                                    <label for="">&NonBreakingSpace;</label>
                                    <button class="btn w-100 btn-sm btn-primary waves-light waves-effect btn-label"
                                      (click)="subirExcel()" >
                                        <i class="fa fa-file label-icon"></i>
                                        Cargar
                                    </button>
                                </div>
                            </div>
                        </app-loading>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>